---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=new%20orleans,%20la
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.323 TT 0 0.324"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 6734,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL7476917W",
                    "type": "work",
                    "seed": [
                        "/books/OL6130302M",
                        "/books/OL6220190M",
                        "/works/OL7476917W",
                        "/subjects/carnival",
                        "/subjects/place:louisiana",
                        "/subjects/place:new_orleans",
                        "/authors/OL2267623A"
                    ],
                    "title": "New Orleans masquerade",
                    "title_suggest": "New Orleans masquerade",
                    "title_sort": "New Orleans masquerade",
                    "edition_count": 2,
                    "edition_key": [
                        "OL6130302M",
                        "OL6220190M"
                    ],
                    "publish_date": [
                        "1952",
                        "1957"
                    ],
                    "publish_year": [
                        1952,
                        1957
                    ],
                    "first_publish_year": 1952,
                    "number_of_pages_median": 247,
                    "lccn": [
                        "57004852",
                        "53000950"
                    ],
                    "publish_place": [
                        "New Orleans"
                    ],
                    "oclc": [
                        "1855253",
                        "2889405"
                    ],
                    "lcc": [
                        "F--0379.00000000.N5 L14 1957",
                        "F--0379.00000000.N5 L14"
                    ],
                    "ddc": [
                        "976.335"
                    ],
                    "last_modified_i": 1601199048,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "readinglog_count": 1,
                    "want_to_read_count": 1,
                    "currently_reading_count": 0,
                    "already_read_count": 0,
                    "publisher": [
                        "Pelican Pub. Co."
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2267623A"
                    ],
                    "author_name": [
                        "Arthur Burton La Cour"
                    ],
                    "place": [
                        "Louisiana",
                        "New Orleans"
                    ],
                    "subject": [
                        "Carnival"
                    ],
                    "publisher_facet": [
                        "Pelican Pub. Co."
                    ],
                    "place_key": [
                        "louisiana",
                        "new_orleans"
                    ],
                    "subject_facet": [
                        "Carnival"
                    ],
                    "_version_": 1767941117249060864,
                    "place_facet": [
                        "Louisiana",
                        "New Orleans"
                    ],
                    "lcc_sort": "F--0379.00000000.N5 L14 1957",
                    "author_facet": [
                        "OL2267623A Arthur Burton La Cour"
                    ],
                    "subject_key": [
                        "carnival"
                    ],
                    "ddc_sort": "976.335"
                },
                {
                    "key": "/works/OL16325005W",
                    "type": "work",
                    "seed": [
                        "/books/OL25126926M",
                        "/works/OL16325005W",
                        "/subjects/denechaud_hotel_(new_orleans_la.)",
                        "/subjects/hotels",
                        "/subjects/place:new_orleans",
                        "/subjects/place:louisiana",
                      [...]
