---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&q=new%20orleans,la
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - "<WEATHERKEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/27/2023 05:25:17'
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 2f2df2569eb70cfb886990e69cece8c2
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"New Orleans","region":"Louisiana","country":"United
        States of America","lat":29.95,"lon":-90.08,"tz_id":"America/Chicago","localtime_epoch":1695792315,"localtime":"2023-09-27
        0:25"},"current":{"last_updated_epoch":1695791700,"last_updated":"2023-09-27
        00:15","temp_c":29.4,"temp_f":84.9,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":270,"wind_dir":"W","pressure_mb":1016.0,"pressure_in":29.99,"precip_mm":0.0,"precip_in":0.0,"humidity":68,"cloud":0,"feelslike_c":35.7,"feelslike_f":96.2,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":8.7,"gust_kph":13.9},"forecast":{"forecastday":[{"date":"2023-09-27","date_epoch":1695772800,"day":{"maxtemp_c":31.6,"maxtemp_f":89.0,"mintemp_c":24.8,"mintemp_f":76.6,"avgtemp_c":27.7,"avgtemp_f":81.8,"maxwind_mph":10.7,"maxwind_kph":17.3,"totalprecip_mm":0.39,"totalprecip_in":0.02,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":68.0,"daily_will_it_rain":1,"daily_chance_of_rain":87,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":6.0},"astro":{"sunrise":"06:51
        AM","sunset":"06:51 PM","moonrise":"06:04 PM","moonset":"04:42 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"91","is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1695790800,"time":"2023-09-27
        00:00","temp_c":25.6,"temp_f":78.1,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":6.3,"wind_kph":10.1,"wind_degree":146,"wind_dir":"SSE","pressure_mb":1015.0,"pressure_in":29.99,"precip_mm":0.02,"precip_in":0.0,"humidity":78,"cloud":89,"feelslike_c":27.8,"feelslike_f":82.1,"windchill_c":25.6,"windchill_f":78.1,"heatindex_c":27.8,"heatindex_f":82.1,"dewpoint_c":21.5,"dewpoint_f":70.8,"will_it_rain":0,"chance_of_rain":69,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":10.5,"gust_kph":17.0,"uv":1.0},{"time_epoch":1695794400,"time":"2023-09-27
        01:00","temp_c":29.4,"temp_f":84.9,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":270,"wind_dir":"W","pressure_mb":1016.0,"pressure_in":29.99,"precip_mm":0.0,"precip_in":0.0,"humidity":68,"cloud":0,"feelslike_c":28.5,"feelslike_f":83.4,"windchill_c":26.0,"windchill_[...]
